.file-display-box{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.file-display-box>img{
    display: inline-block;
    height: 150px;
    width: 150px;
    object-fit: cover;
    vertical-align: top;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #eee;
}

.file-display-box>span{
    display: inline-block;
    margin-left: -20px;
    background-color: #900;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-top: -10px;
    font-size: 16px;
    cursor: pointer;
}
